main {
  max-width: 1000px;
  margin:0 auto;
  display:flexbox;
  background-color:hsl(39, 21%, 82%);
  justify-items: center;
  align-items: center;
}
form {
  display: flexbox;
  gap: 20px;
  font-size: 20px;
}
input, button {
  padding: 10px 20px;
}

li {
  padding: 10px 10px;
  font-weight: 800;
  color:rgb(54, 35, 6);
}

h1 {
  color:rgb(46, 32, 5);
  align-items: center;
  justify-content: center;
  text-align: center;
}
Image {
  width: auto;
  height: auto;
  max-width: 500;
}