main {
  max-width: 1000px;
  margin:0 auto;
  display:flexbox;
  background-color:burlywood;
  justify-items: center;
  align-items: center;
}
form {
  display: flexbox;
  gap: 20px;
  font-size: 20px;
}
input, button {
  padding: 10px 20px;
}

li {
  padding: 10px 10px;
  font-weight: 800;
}